@page "{id}"
@model TopLearn.Web.Pages.Admin.Courses.EditCourseModel
@{
}

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Course.CourseId"/>
        <input type="hidden" asp-for="Course.CreateDate"/>
        <input type="hidden" asp-for="Course.DemoFileName"/>
        <input type="hidden" asp-for="Course.CourseImageName"/>
        <div class="col-md-7">
            <h2>ویرایش دوره</h2>
            <hr />
            <div class="form-group">
                <label>عنوان دوره</label>
                <input type="text" asp-for="Course.CourseTitle" class="form-control">
                <span asp-validation-for="Course.CourseTitle"></span>
            </div>
            <div class="form-group">
                <label>سر گروه</label>
                <select class="form-control" asp-for="Course.GroupId" asp-items="@(ViewData["BigGroups"] as SelectList)"></select>
                <span asp-validation-for="Course.GroupId"></span>
            </div>
            <div class="form-group">
                <label>زیر گروه</label>
                <select class="form-control" asp-for="Course.SubGroup" asp-items="@(ViewData["SmallGroups"] as SelectList)"></select>
                <span asp-validation-for="Course.SubGroup"></span>
            </div>
            <div class="form-group">
                <label>مدرس دوره</label>
                <select class="form-control" asp-for="Course.TeacherId" asp-items="@(ViewData["Teachers"] as SelectList)"></select>
                <span asp-validation-for="Course.TeacherId"></span>
            </div>
            <div class="form-group">
                <label>شرح دوره</label>
                <textarea class="form-control" asp-for="Course.CourseDescription" rows="7"></textarea>
                <span asp-validation-for="Course.CourseDescription"></span>
            </div>
            <div class="form-group">
                <label>فایل دمو دوره</label>
                <input type="file" name="demoUp">
                <span asp-validation-for="Course.CourseTitle"></span>
            </div>
            <div class="form-group">
                <label>قیمت دوره</label>
                <input type="number" asp-for="Course.CoursePrice" class="form-control" />
                <span asp-validation-for="Course.CoursePrice"></span>
            </div>
            <br />
            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
        </div>
        <div class="col-md-5">
            <br />
            <br />
            <br />
            <img id="blah" class="thumbnail" src="/course/image/@Model.Course.CourseImageName" />
            <div class="form-group">
                <label>انتخاب تصویر</label>
                <input type="file" name="imgCourseUp" id="imgInp">
            </div>
            <div class="form-group">
                <label>سطح دوره</label>
                <select class="form-control" asp-for="Course.LevelId" asp-items="@(ViewData["Levels"] as SelectList)"></select>
                <span asp-validation-for="Course.LevelId"></span>
            </div>
            <div class="form-group">
                <label>کلمات کلیدی دوره</label>
                <input type="text" asp-for="Course.Tags" class="form-control">
                <p class="help-block">کلمات را با - جدا کنید</p>
                <span asp-validation-for="Course.CourseTitle"></span>
            </div>
            <div class="form-group">
                <label>وضعیت دوره</label>
                <select class="form-control" asp-for="Course.StatusId" asp-items="@(ViewData["Statuses"] as SelectList)"></select>
                <span asp-validation-for="Course.StatusId"></span>
            </div>
        </div>
        <div asp-validation-summary="All"></div>
    </form>
</div>

                
@section script
{
    <script>
        $("#Course_GroupId").change(function() {
            $("#Course_SubGroup").empty();
            $.getJSON("/home/GetSubGroups/" + $("#Course_GroupId :selected").val(),
                function(data) {

                    $.each(data,
                        function() {
                            $("#Course_SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');
                            
                        });

                });


        });

        imgInp.onchange = evt => {
            const [file] = imgInp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>

    
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
    
        CKEDITOR.replace('Course_CourseDescription', {
            customConfig: '/js/Config.js'
        });
   
    </script>
}
